﻿@model PFW_CW_40110403.Models.Cause
<!--Progress bar display for given cause data, used to keep the data up to date.-->
<p><i>Signed by <b id="sct">@Model.SignedBy.Count()</b> people,</i> let's get it over @Model.Limit!</p>
<div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="@Model.SignedBy.Count()" aria-valuemin="0" aria-valuemax="@Model.Limit">
    </div>
</div>
