﻿<!--Form used for the log in process.-->
<p>Don't have an account?<a href="#" id="registerBtn">Sign Up</a></p>
<form id="LoginForm" action="">
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    <button id="myLogInBtn" type="button" class="btn btn-primary">Login</button>
</form>
