﻿@model PFW_CW_40110403.Models.User
<!--The Register form-->

@using (Html.BeginForm("AddUser", "Home", FormMethod.Post))
{

    <p>Already have an account?<a href="#" id="loginBtn">Log In</a></p>
    <div class="form-group">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @type = "text" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}
