﻿@model PFW_CW_40110403.Models.Cause

<!--The html for the modal to display a list of users that signed a cause-->

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">List of people who signed</h2>
        </div>
        <div id="sb_mb" class="modal-body">
            @{Html.RenderAction("SignedBy",
                     "Home",
                    new { cid = Model.Id.ToString() });
            }
        </div>
    </div>
</div>
