﻿@model List<PFW_CW_40110403.Models.Cause>
@{
    ViewBag.Title = "Browse Causes";
}
<!--Here is where the user comes to seek inspiration and browse created causes. This page also handles and displays search results.-->

<h2>
    Discover Causes
</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="">Popular</a></li>
    <li><a data-toggle="tab" href="">Recent</a></li>
    <li><a data-toggle="tab" href="">Completed</a></li>
</ul>
<div class="jumbotron">
    <div class="row center-block pvxl">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            @foreach (var c in Model)
            {
                <div class="div-rounded pad">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <img src="~/Images/EmIm.png" class="img-responsive" alt="Example Image">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h2>@c.Title</h2>
                            <a href="@Url.Action("Cause", new { id = c.Id })">Read More..</a>
                            @if (Session["User"] != null)
                            {
                                if (Session["User"].GetType() == typeof(PFW_CW_40110403.Models.Admin))
                                {
                                    <a value="@c.Id" id="removeCause" class="mynav btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete cause"><span class="glyphicon glyphicon-remove"></span></a>
                                }
                            }
                            <div class="progress">
                                <div style="width:@((c.SignedBy.Count()/5)*100)%" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="@c.SignedBy.Count()" aria-valuemin="0" aria-valuemax="@c.Limit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>