﻿@model PFW_CW_40110403.Models.User
@{
    ViewBag.Title = "My Causes";
}
<!--Simple page meant to display the causes a user is involved with.-->
<h1 class="text-center">@Model.Name</h1>
<h6 class="text-center"><span class="glyphicon glyphicon-map-marker"></span>Location</h6>
<br />
<button class="mynav btn btn-default disabled center-block" data-toggle="tooltip" data-placement="bottom" title="Not available yet.">Edit Details</button>
<br />
<button class="mynav btn btn-default disabled center-block" data-toggle="tooltip" data-placement="bottom" title="If admin you have delete priviladges.">Delete</button>
<br />
<br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="">Created</a></li>
</ul>
<br />
<ul class="list-group">
        <li class="list-group-item"><a>List</a></li>
</ul>

