﻿@model List<PFW_CW_40110403.Models.Cause>
@{
    ViewBag.Title = "Causes.org";
}
<!--Main page, includes a bootstrap carousel of featured causes along with some text describing the site and it's goals.-->

<img src="~/Images/bck_img.jpg" class="img-responsive" alt="Sample Photo" />
<div class="jumbotron">
    <button type="button" class="sac_btn btn btn-danger center-block btn-lg">Start your cause today!</button>
    <blockquote>
        This site is meant so that the people can take their rights into their own hands and get support for causes from all around the world!
        <footer>Causes.Org</footer>
    </blockquote>
</div>


<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @{int i = 0; } 
        @foreach (PFW_CW_40110403.Models.Cause c in Model)
        {
            if (i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
            i++;
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner div-rounded">
        @{ int j = 0; }
        @foreach (PFW_CW_40110403.Models.Cause c in Model)
        {
            if (j == 0)
            {
                <div class="item active">
                    <div class="div-rounded pad">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <img src="~/Images/EmIm.png" class="img-responsive" alt="Example Image">
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <h2>@c.Title</h2>
                                <a href="@Url.Action("Cause", new { id = c.Id })">Read More..</a>
                                <div class="progress">
                                    <div style="width:@((c.SignedBy.Count()/5)*100)%" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="@c.SignedBy.Count()" aria-valuemin="0" aria-valuemax="@c.Limit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                j++;
            }
            else
            {
                <div class="item">
                    <div class="div-rounded pad">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <img src="~/Images/EmIm.png" class="img-responsive" alt="Example Image">
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <h2>@c.Title</h2>
                                <a href="@Url.Action("Cause", new { id = c.Id })">Read More..</a>
                                <div class="progress">
                                    <div style="width:@((c.SignedBy.Count()/5)*100)%" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="@c.SignedBy.Count()" aria-valuemin="0" aria-valuemax="@c.Limit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    </div>

<div class="row">
    <div class="col-md-4 border-right">
        <h2>Getting started</h2>
        <p>
            Use the Navigation bar above to see the different page this website has to offer.
        </p>
    </div>
    <div class="col-md-4 border-right">
        <h2>Create a cause</h2>
        <p>Once you are a member of our growing community you will have many benefits, the most important being the ability to create your own causes.</p>
    </div>
    <div class="col-md-4">
        <h2>Join an active community!</h2>
        <p>Become a member of this site to use its full potential and to give yourself the oppurtunity to lobby for what is right.</p>
    </div>
</div>