﻿@{
    ViewBag.Title = "Search";
}
<!--Search page with a form with a single input.-->
<h2>Search</h2>
<p>Search for anything you might like, currently the page only searches the titles of the causes but coming soon you'll be able to search </p>
<p>for a cause by it's creator(s) or the people involved.</p>
<form action="@Url.Action("BrowseSearch")">
    <div class="input-group">
        <input type="text" id="search-input" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
            <button id="srchBtn" class="btn btn-danger active disabled" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
