﻿@{
    ViewBag.Title = "Start a Cause";
}
<!--Progress bar for the form completion-->
<h3>Progress</h3>
<div class="progress">
    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<!--Form used to start a cause.-->
<form id="sacf" action="">
    <div class="form-group">
        <h2 for="title_in">What will be the title of your cause?</h2>
        <input type="text" class="form-control" id="title_in" placeholder="Title">
    </div>
    <div class="form-group">
        <h2 for="aim_in">Who do you want to listen?</h2>
        <input type="text" class="form-control" id="aim_in" placeholder="Aimed at">
    </div>
    <div class="form-group">
        <h2 for="desc">Add your target</h2>
        <input type="number" class="form-control" id="target_in" placeholder="Target number of signatures">
    </div>
    <div class="form-group">
        <h2 for="desc">Add your description</h2>
        <textarea class="form-control" rows="6" id="desc" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <button id="crt_cause" type="submit" class="btn btn-danger disabled">Launch the change!</button>
    </div>
</form>